dashboard/node-red-flow.json
[
  {
    "id": "2d45a085.4f96b8",
    "type": "inject",
    "z": "36d0c2fb.a9b7be",
    "name": "Remove all data",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1340,
    "y": 660,
    "wires": [
      [
        "1a73c86e.ee9f1"
      ]
    ]
  },
  {
    "id": "890ab81c.376c78",
    "type": "inject",
    "z": "36d0c2fb.a9b7be",
    "name": "Reload UI",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "0.4",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "x": 910.175048828125,
    "y": 546.362548828125,
    "wires": [
      [
        "c05b6f72.49348"
      ]
    ]
  },
  {
    "id": "1a73c86e.ee9f1",
    "type": "function",
    "z": "36d0c2fb.a9b7be",
    "name": "Remove all data",
    "func": "flow.set(\"imageData\", undefined);\n\nflow.set(\"classificationData\", [\n    {\n    \"class\": \"Aligned\",\n    \"score\": \"0.91\"    \n    },\n    {\n    \"class\": \"Aligned\",\n    \"score\": \"0.83\"    \n    },\n    {\n    \"class\": \"Unaligned\",\n    \"score\": \"0.87\"    \n    }\n    ]);\n\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1550.9998779296875,
    "y": 610.7000732421875,
    "wires": [
      [
        "c05b6f72.49348"
      ]
    ]
  },
  {
    "id": "9e3d3ccc.cb66d",
    "type": "function",
    "z": "36d0c2fb.a9b7be",
    "name": "Store Image Data",
    "func": "// get all the image data\nlet imageData = flow.get(\"imageData\") || [];\n\n// store the image\nimageData.push({\n    \"timestamp\": new Date(),\n    \"image\": msg.payload.image\n});\n\nflow.set(\"imageData\", imageData)\n\nreturn {payload: imageData};",
    "outputs": 1,
    "noerr": 0,
    "x": 590.8714599609375,
    "y": 543.1571044921875,
    "wires": [
      [
        "556f6cd.b20a014",
        "7fd92732.33fd18"
      ]
    ]
  },
  {
    "id": "39f650c6.066c88",
    "type": "http in",
    "z": "36d0c2fb.a9b7be",
    "name": "Image Upload",
    "url": "/image-upload2",
    "method": "post",
    "upload": true,
    "swaggerDoc": "",
    "x": 228.3714599609375,
    "y": 550.300048828125,
    "wires": [
      [
        "45fde255.fb7644",
        "9e3d3ccc.cb66d"
      ]
    ]
  },
  {
    "id": "45fde255.fb7644",
    "type": "http response",
    "z": "36d0c2fb.a9b7be",
    "name": "Success Response",
    "statusCode": "200",
    "headers": {
      "Access-Control-Allow-Origin": "*"
    },
    "x": 452.3714599609375,
    "y": 696.300048828125,
    "wires": []
  },
  {
    "id": "b3429f62.8e1718",
    "type": "ui_button",
    "z": "36d0c2fb.a9b7be",
    "name": "Clear Data",
    "group": "f5626cc9.c02db",
    "order": 0,
    "width": "0",
    "height": "0",
    "passthru": false,
    "label": "Clear Data",
    "color": "",
    "bgcolor": "",
    "icon": "camera",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 1333.1214599609375,
    "y": 561.800048828125,
    "wires": [
      [
        "1a73c86e.ee9f1"
      ]
    ]
  },
  {
    "id": "20165437.fd0044",
    "type": "ui_template",
    "z": "36d0c2fb.a9b7be",
    "group": "f5626cc9.c02db",
    "name": "List of all images",
    "order": 6,
    "width": "14",
    "height": "14",
    "format": "<md-list style=\"display: grid; grid-template-columns: 50% 50%;\">\n    <md-list-item class=\"md-3-line\" ng-repeat=\"image in msg.payload | orderBy:'-timestamp'\" style=\"margin:20px; margin-bottom:300px\">\n        \n        <md-card style=\"box-shadow: 1px 1px 2px 0 lightgray;\">\n            <img ng-src=\"{{image.image}}\" class=\"md-card-image\" alt=\"No image available.\">\n            <md-card-title>\n              <md-card-title-text>\n                <span class=\"md-headline\">Classification: {{image.class}}</span>\n              </md-card-title-text>\n            </md-card-title>\n            <md-card-content>\n              <p>\n                Score: {{image.score}}\n              </p>\n            </md-card-content>\n        </md-card>\n        \n    </md-list-item>\n</md-list>",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1299.3714599609375,
    "y": 379.1571044921875,
    "wires": [
      []
    ]
  },
  {
    "id": "c05b6f72.49348",
    "type": "function",
    "z": "36d0c2fb.a9b7be",
    "name": "Load Images",
    "func": "let imageData = flow.get(\"imageData\");\nlet classificationData = flow.get(\"classificationData\");\n\nif (imageData && classificationData) {\n imageData.forEach((item, i) => {\n     if (classificationData[i]) {\n        item.class = classificationData[i].class;\n        item.score = classificationData[i].score;\n     }\n})\n   \n}\n\n// check if their is an image for the selected deivce\nif (imageData !== undefined) {\n    return {\"payload\":imageData};   \n} else {\n    return {\"payload\":\"\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1106.3714599609375,
    "y": 435.1571044921875,
    "wires": [
      [
        "20165437.fd0044"
      ]
    ]
  },
  {
    "id": "556f6cd.b20a014",
    "type": "debug",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 624.8714599609375,
    "y": 658.6571044921875,
    "wires": []
  },
  {
    "id": "7fd92732.33fd18",
    "type": "visual-recognition-v3",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "vr-service-endpoint": "https://gateway-a.watsonplatform.net/visual-recognition/api",
    "image-feature": "classifyImage",
    "lang": "en",
    "x": 690,
    "y": 280,
    "wires": [
      [
        "3081abf9.64fcf4"
      ]
    ]
  },
  {
    "id": "14220af2.36c045",
    "type": "debug",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 670,
    "y": 180,
    "wires": []
  },
  {
    "id": "c98796b.9a00168",
    "type": "function",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "func": "msg = {\n    \"payload\":\"https://assets.porttechnology.org/images/made/images/uploads/news/Hapag_Lloyd_Barzan_590_330_84.jpg\",\n    \"params\":{\n        \"classifier_ids\":\"DefaultCustomModel_924895071\"\n    }\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 280,
    "wires": [
      [
        "7fd92732.33fd18"
      ]
    ]
  },
  {
    "id": "627b9796.7536c",
    "type": "visual-recognition-util-v3",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "image-feature": "retrieveClassifiersList",
    "x": 460.8714599609375,
    "y": 183.1571044921875,
    "wires": [
      [
        "14220af2.36c045"
      ]
    ]
  },
  {
    "id": "60055ad9.4a9c84",
    "type": "inject",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "topic": "",
    "payload": "https://assets.porttechnology.org/images/made/images/uploads/news/Hapag_Lloyd_Barzan_590_330_84.jpg",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 240,
    "y": 300,
    "wires": [
      [
        "c98796b.9a00168"
      ]
    ]
  },
  {
    "id": "366ff68b.7af862",
    "type": "inject",
    "z": "36d0c2fb.a9b7be",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 240,
    "y": 180,
    "wires": [
      [
        "627b9796.7536c"
      ]
    ]
  },
  {
    "id": "3081abf9.64fcf4",
    "type": "function",
    "z": "36d0c2fb.a9b7be",
    "name": "Store Data",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 910,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "f5626cc9.c02db",
    "type": "ui_group",
    "z": "",
    "name": "Image List",
    "tab": "dce9cdc4.5a44a",
    "disp": false,
    "width": "14",
    "collapse": false
  },
  {
    "id": "dce9cdc4.5a44a",
    "type": "ui_tab",
    "z": "",
    "name": "Visual Recognition",
    "icon": "camera"
  }
]
