dashboard/node-red-flow.json
[
  {
    "id": "36ae033b.5a6e44",
    "type": "inject",
    "z": "f4d00bb9.71ecb8",
    "name": "Remove all data",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 1196.6285400390625,
    "y": 813.8428955078125,
    "wires": [
      [
        "e43b532c.799e28"
      ]
    ]
  },
  {
    "id": "5c7ef6de.f89248",
    "type": "inject",
    "z": "f4d00bb9.71ecb8",
    "name": "Reload UI",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "0.4",
    "crontab": "",
    "once": true,
    "x": 766.8035888671875,
    "y": 700.2054443359375,
    "wires": [
      [
        "3fa9d8c9.5efb5",
        "2aa0bf28.2ff788"
      ]
    ]
  },
  {
    "id": "e43b532c.799e28",
    "type": "function",
    "z": "f4d00bb9.71ecb8",
    "name": "Remove all data",
    "func": "flow.set(\"imageData\", undefined);\n\nreturn null;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1407.62841796875,
    "y": 764.54296875,
    "wires": [
      []
    ]
  },
  {
    "id": "cfe1de5.76ab12",
    "type": "function",
    "z": "f4d00bb9.71ecb8",
    "name": "Store Image Data",
    "func": "// get all the image data\nlet imageData = flow.get(\"imageData\") || [];\n\n// store the image\nimageData.push({\n    \"timestamp\": new Date(),\n    \"image\": msg.payload.image\n});\n\nflow.set(\"imageData\", imageData)\n\nreturn {payload: imageData};",
    "outputs": 1,
    "noerr": 0,
    "x": 508,
    "y": 702.6429443359375,
    "wires": [
      [
        "1556108f.05c9bf"
      ]
    ]
  },
  {
    "id": "3fa9d8c9.5efb5",
    "type": "function",
    "z": "f4d00bb9.71ecb8",
    "name": "Load Image",
    "func": "let imageData = flow.get(\"imageData\");\n\n// check if their is an image for the selected deivce\nif (imageData !== undefined) {\n    return {\"payload\":imageData[imageData.length - 1].image};   \n} else {\n    return {\"payload\":\"\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1000,
    "y": 698.6429443359375,
    "wires": [
      [
        "cf3d8ec2.42ca2"
      ]
    ]
  },
  {
    "id": "caa313e9.e293d8",
    "type": "http in",
    "z": "f4d00bb9.71ecb8",
    "name": "Image Upload",
    "url": "/image-upload2",
    "method": "post",
    "upload": true,
    "swaggerDoc": "",
    "x": 85,
    "y": 704.1429443359375,
    "wires": [
      [
        "9d6f478f.d9459",
        "cfe1de5.76ab12"
      ]
    ]
  },
  {
    "id": "9d6f478f.d9459",
    "type": "http response",
    "z": "f4d00bb9.71ecb8",
    "name": "Success Response",
    "statusCode": "200",
    "headers": {
      "Access-Control-Allow-Origin": "*"
    },
    "x": 309,
    "y": 850.1429443359375,
    "wires": []
  },
  {
    "id": "ea085d0d.5c403",
    "type": "ui_button",
    "z": "f4d00bb9.71ecb8",
    "name": "Clear Data",
    "group": "414c3823.985bc8",
    "order": 0,
    "width": "0",
    "height": "0",
    "passthru": false,
    "label": "Clear Data",
    "color": "",
    "bgcolor": "",
    "icon": "camera",
    "payload": "true",
    "payloadType": "bool",
    "topic": "",
    "x": 1189.75,
    "y": 715.6429443359375,
    "wires": [
      [
        "e43b532c.799e28"
      ]
    ]
  },
  {
    "id": "cf3d8ec2.42ca2",
    "type": "ui_template",
    "z": "f4d00bb9.71ecb8",
    "group": "414c3823.985bc8",
    "name": "Image",
    "order": 1,
    "width": "10",
    "height": "9",
    "format": "<img src=\"{{msg.payload}}\"\n alt='No image available.'\n width=\"200px\"\n>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1193.4642333984375,
    "y": 611,
    "wires": [
      []
    ]
  },
  {
    "id": "d5b167b8.9b28e",
    "type": "ui_template",
    "z": "f4d00bb9.71ecb8",
    "group": "699810a.1c84cf",
    "name": "List of all images",
    "order": 6,
    "width": "12",
    "height": "15",
    "format": "<md-list style=\"display: grid; grid-template-columns: 50% 50%;\">\n    <md-list-item class=\"md-3-line\" ng-repeat=\"image in msg.payload | orderBy:'-timestamp'\">\n        \n        <md-card style=\"box-shadow: 1px 1px 2px 0 lightgray;\">\n            <img ng-src=\"{{image.image}}\" class=\"md-card-image\" alt=\"No image available.\">\n            <md-card-title>\n              <md-card-title-text>\n                <span class=\"md-headline\">Classification</span>\n              </md-card-title-text>\n            </md-card-title>\n            <md-card-content>\n              <p>\n                Score\n              </p>\n            </md-card-content>\n        </md-card>\n        \n    </md-list-item>\n</md-list>",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 1156,
    "y": 533,
    "wires": [
      []
    ]
  },
  {
    "id": "2aa0bf28.2ff788",
    "type": "function",
    "z": "f4d00bb9.71ecb8",
    "name": "Load Images",
    "func": "let imageData = flow.get(\"imageData\");\n\n// check if their is an image for the selected deivce\nif (imageData !== undefined) {\n    return {\"payload\":imageData};   \n} else {\n    return {\"payload\":\"\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 963,
    "y": 589,
    "wires": [
      [
        "d5b167b8.9b28e"
      ]
    ]
  },
  {
    "id": "1556108f.05c9bf",
    "type": "debug",
    "z": "f4d00bb9.71ecb8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 481.5,
    "y": 812.5,
    "wires": []
  },
  {
    "id": "414c3823.985bc8",
    "type": "ui_group",
    "z": "f4d00bb9.71ecb8",
    "name": "Image",
    "tab": "e99d19fb.228a5",
    "order": 2,
    "disp": false,
    "width": "10"
  },
  {
    "id": "699810a.1c84cf",
    "type": "ui_group",
    "z": "",
    "name": "Image List",
    "tab": "e99d19fb.228a5",
    "disp": true,
    "width": "12"
  },
  {
    "id": "e99d19fb.228a5",
    "type": "ui_tab",
    "z": "",
    "name": "Visual Recognition",
    "icon": "camera"
  }
]
